<!-- Doc Template -->
<!-- 
  ===========  Title ============= 
  DESC:

  PARAMETERS:

  RETURNS:
  ===========================
-->
<!-- Notes Template -->
<!-- 
  ********* Note Title **********
  DESC:
  -> ...
  *******************************
 -->

<!-- 
  ===========  index.ejs (Home) ============= 
  DESC:
  Creation of the homepage with the necessary
  elements inputted as partials

  PARAMETERS:
  listing data

  RETURNS:
  Homepage
  ===========================================
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container bg-light bg-gradient">
    <header><%- include('../partials/header'); %></header>
    <main>
      <div class="Main">
        <!-- 
          ***** Notes on the Navbar and Spacing below the Navbar *****
          DESC: 
          -> Hard Coded 120 px padding on the top of all cards div to
          account for the 106 px navbar on the top
          -> Note: Navbar does not change height based on the viewport
          height
          ************************************************************
        -->
        <div
          class="row row-cols-1 row-cols-md-1 g-1"
          style="padding-top: 120px"
        >
          <% listings.forEach((listing) => { %>

          <div class="col" style="padding-bottom: 3vh; padding-top: 3vh">
            <%- include('../partials/card', {listing: listing}); %>
          </div>
          <% }); %>
        </div>
      </div>
    </main>
    <footer><%- include('../partials/footer'); %></footer>
    <!-- 
      ***** JavaScript Add-Ons *****
      DESC:
      -> Add the necessary resources
      for Bootstrap. Includes scripting
      for transitions/animations
     -->
     <%- include('../partials/scripts'); %>
  </body>
</html>
