<!-- Doc Template -->
<!-- 
  ===========  Title ============= 
  DESC:

  PARAMETERS:

  RETURNS:
  ===========================
-->
<!-- Notes Template -->
<!-- 
  ********* Note Title **********
  DESC:
  -> ...
  *******************************
 -->

<!-- 
  ===========  index.ejs (Home) ============= 
  DESC:
  Creation of the homepage with the necessary
  elements inputted as partials

  PARAMETERS:
  listing data

  RETURNS:
  Homepage
  ===========================================
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8931772061417328" crossorigin="anonymous"></script>
  </head>
  <body>
    <header><%- include('../partials/header'); %></header>
    <main>
      <div class="main">
        <div class="container"
             style="padding-top: 120px; position: relative; min-height: 100vh">
        <!-- 
          ***** Notes on the Navbar and Spacing below the Navbar *****
          DESC: 
          -> Hard Coded 120 px padding on the top of all cards div to
          account for the 106 px navbar on the top
          -> Note: Navbar does not change height based on the viewport
          height
          ************************************************************
        -->
        <%- include('../partials/filter_selection'); %>

        <div id="listing_display">
          <h1 class="mb-3">
            Listings
          </h1>
          <div class="row row-cols-1 row-cols-md-1 g-1">
            <% let counter = 0; %>
            <% listings.forEach((listing) => { %>
            <div class="col" style="padding-bottom: 3vh">
              <% counter++; %>
              <%- include('../partials/card', {listing: listing, editable: false, CATEGORIES: CATEGORIES }); %>
            </div>
            <% }); %>
          </div>
          <%- include('../partials/no_listings', {counter}); %>
        </div>
        
        <div id="request_display">
          <h1 class="mb-3">
            Requests
          </h1>
          <div class="row row-cols-1 row-cols-md-1 g-1">
            <% counter = 0; %>
            <% requests.forEach((request) => { %>
            <div class="col" style="padding-bottom: 3vh">
              <% counter++; %>
              <%- include('../partials/request_card', {request: request, editable: false, CATEGORIES: CATEGORIES }); %>
            </div>
            <% }); %>
          </div>
          <%- include('../partials/no_requests', {counter}); %>
        </div>
       </div>
      </div>
    </main>
    <footer><%- include('../partials/footer'); %></footer>
    <!-- 
      ***** JavaScript Add-Ons *****
      DESC:
      -> Add the necessary resources
      for Bootstrap. Includes scripting
      for transitions/animations
     -->
    <%- include('../partials/scripts'); %>
  </body>
</html>
