<!-- 
  ===========  Title ============= 
  DESC:
  My posting page to find all of the
  postings that a user has posted. Then,
  the postings can be edited or deleted

  PARAMETERS:
  Postings that are related to only the user

  RETURNS:
  My Posting Page
  ===========================
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <header>
    <%- include('../partials/header'); %>
  </header>
  <main>
    <div class="main">
      <div id="user_page" class="container" style="padding-top: 120px; position: relative; min-height: 100vh">

        <h1 class="mb-3">
          My Postings
        </h1>
        <p id="err-txt" class="text-danger">
          <%= fail_msg %>
        </p>
        <p id="success-txt" class="text-success">
          <%= success_msg %>
        </p>
        <%- include('../partials/filter_selection'); %>
        <div class="row row-cols-1 row-cols-md-1 g-1">
          <div id="listing_display">
            <h2> Listings </h2>
            <div id="cards" class="row row-cols-1 row-cols-md-1 g-1">
              <% let counter=0; %>
              <% my_listings.forEach((my_listing)=> { %>
                <div class="col" style="padding-bottom: 3vh;">
                  <% counter++; %>
                  <%- include('../partials/card', { listing: my_listing, editable: true, CATEGORIES: CATEGORIES }); %>
                </div>
              <% }); %>
            </div>
            <%- include('../partials/load_more_listings'); %>
            <%- include('../partials/no_listings'); %>
          </div>
          
          <div id="request_display">
            <h2> Requests </h2>
            <div id="request_cards" class="row row-cols-1 row-cols-md-1 g-1">
              <% counter=0; %>
              <% my_requests.forEach((request)=> { %>
                <div class="col" style="padding-bottom: 3vh;">
                  <% counter++; %>
                  <%- include('../partials/request_card', { request: request, editable: true, CATEGORIES: CATEGORIES }); %>
                </div>
              <% }); %>
            </div>
            <%- include('../partials/load_more_requests'); %>
            <%- include('../partials/no_requests'); %>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
  <!-- 
      ***** JavaScript Add-Ons *****
      DESC:
      -> Add the necessary resources
      for Bootstrap. Includes scripting
      for transitions/animations
     -->
  <%- include('../partials/scripts'); %>
</body>

</html>